/* @font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Book.woff2") format("woff2");
  src: url("/fonts/CircularStd-Book.woff") format("woff"), url("/fonts/CircularStd-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
  src: url("/fonts/CircularStd-Medium.woff") format("woff"), url("/fonts/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Circular";
  src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
  src: url("/fonts/CircularStd-Bold.woff") format("woff"), url("/fonts/CircularStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal
} */

@font-face {
  font-family: "GT-Eesti";
  src: url("/fonts/GT-Eesti-Pro-Text-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "GT-Eesti";
  src: url("/fonts/GT-Eesti-Pro-Text-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "GT-Eesti";
  src: url("/fonts/GT-Eesti-Pro-Text-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "GT-Eesti";
  src: url("/fonts/GT-Eesti-Pro-Text-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "GT-Eesti", sans-serif !important;
}

a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.pagination {
  justify-content: center !important;

}